<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.newcomers.prj.itemlist.mapper.ItemMapper">

	<select id="itemSelectList" resultType="co.newcomers.prj.itemlist.vo.ItemVO">
		SELECT ITEM.ITEM_CODE, DETAIL_ITEM.ITEM_TITLE, ITEM.ITEM_PRICE, DETAIL_ITEM.ITEM_IMAGE1 as ITEM_IMAGE
		FROM ITEM , DETAIL_ITEM 
		WHERE ITEM.ITEM_CODE = DETAIL_ITEM.ITEM_CODE 
		ORDER BY 1 DESC
	</select>
	<select id="itemSelect" resultType="co.newcomers.prj.itemlist.vo.ItemVO">
		SELECT * FROM ITEM
		WHERE ITEM = #{itemCode} 
	</select>
	
	<select id="itemSearch" resultType="co.newcomers.prj.itemlist.vo.ItemVO">
		SELECT* FROM ITEM I, DETAIL_ITEM D
		WHERE I.ITEM_CODE = D.ITEM_CODE
		AND I.ITEM_NAME LIKE '%'#{itemName}'%'
		AND D.ITEM_TITLE LIKE '%'#{itemTitle}'%'
	</select>
	
	<insert id="itemInsert" parameterType="co.newcomers.prj.itemlist.vo.ItemVO">
		INSERT INTO ITEM
		VALUES(item_seq.nextval, #{itemName}, #{itemPrice})
	</insert>
	
	<delete id="itemDelete" parameterType="co.newcomers.prj.itemlist.vo.ItemVO">
		DELETE FROM ITEM WHERE ITEM_CODE = #{itemCode}
	</delete>
	
	<update id="itemUpdate" parameterType="co.newcomers.prj.itemlist.vo.ItemVO">
		UPDATE ITEM
		SET ITEM_NAME = #{itemName}, 
			ITEM_PRICE = #{itemPrice}
		WHERE ITEM_CODE = #{itemCode} 
 	</update>
</mapper>